<header class="header-area">

<div class="top-header" style="text-align: center;font-size: 22px;">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-12 col-sm-12">

  <b style="color:white;">Manav Rachna Alumni Mentoring Platform &nbsp;</b>





</div>

</div>
</div></div>


<div class="navbar-area">

<div class="mobile-responsive-nav">
<div class="container">
<div class="mobile-responsive-menu">
<div class="logo">
<a href="index-2.html">
<img src="assets/images/mr-logo.jpg" alt="logo">
</a>
</div>
<div class="others-options-for-mobile-devices">
<ul>
<li>
<a href="https://docs.google.com/forms/d/1R8mrpnzEbO3_GovG_KUqzCCD1Aymx11jZ0Pd-WJjgs8/edit" class="default-btn">
Register Here
</a>
</li>
<li>
<button type="button" class="search-btn" data-bs-toggle="modal" data-bs-target="#exampleModalsrc">
<i class="ri-search-line"></i>
</button>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="desktop-nav">
<div class="container">
<nav class="navbar navbar-expand-md navbar-light">
<a class="navbar-brand" href="index-2.html">
<img src="assets/images/mr-logo.jpg" alt="logo" style="max-width:60%; height:90%;">
</a>
<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
<ul class="navbar-nav m-auto">
<li class="nav-item">
<a href="index-2.html" class="nav-link active">
Home

</a>

</li>

<li class="nav-item">
<a href="#" class="nav-link">
Messsage's<i class="ri-arrow-down-s-line"></i>
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="#" class="nav-link">Vice Chancellor's Message</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link">Pro Vice Chancellor's Message</a>
</li>

</li>
</ul>
</li>

<li class="nav-item">
<a href="#" class="nav-link">
Alumni Diary<i class="ri-arrow-down-s-line"></i>
</a>
<ul class="dropdown-menu">
  <li class="nav-item">
  <a href="#" class="nav-link">Blogs</a>
  </li>
  <li class="nav-item">
  <a href="#" class="nav-link">Achievements</a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link">Profiles</a>
    <ul class="dropdown-menu">
      <li class="nav-item">
      <a href="#" class="nav-link">2001-2005</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
        <a href="assets/profile-converted.pdf" class="nav-link">Computer Science</a>
        </li>
        <li class="nav-item">
          <a href="assets/profile-converted.pdf" class="nav-link">EEE</a>
          </li>
      </ul>
      </li>
    </ul>
    </li>
  </li>
  </ul>
</li>


<li class="nav-item">
<a href="#" class="nav-link">
Mentoring Rooms
<i class="ri-arrow-down-s-line"></i>
</a>
<ul class="dropdown-menu">
  <li class="nav-item">
    <a href="computer-science-spl.html" class="nav-link">Computer science (Specilization)</a>
     </li>

</ul>

</li>
<li class="nav-item">
  <a href="#" class="nav-link">
  Contribute<i class="ri-arrow-down-s-line"></i>
  </a>
  <ul class="dropdown-menu">
    <li class="nav-item">
    <a href="#" class="nav-link">Internship</a>
    </li>
    <li class="nav-item">
    <a href="#" class="nav-link">Post a Job</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Cortification Support</a>
      </li>
    </li>
    </ul>
  </li>
<li class="nav-item">
<a href="#" class="nav-link">
Reunion
<i class="ri-arrow-down-s-line"></i>
</a>
<ul class="dropdown-menu">

<li class="nav-item">
<a href="#" class="nav-link">Refersh your Memories</a>
</li>
<li class="nav-item">
  <a href="#" class="nav-link">Gallery</a>
  </li>
</li>
</ul>
</li>
<li class="nav-item">
  <a href="contact.html" class="nav-link">Editorial Board<i class="ri-arrow-down-s-line"></i>
  </a>
  <ul class="dropdown-menu">
  
  <li class="nav-item">
  <a href="#" class="nav-link">Faculty Coordinators</a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link">Student Coordinators</a>
    </li>
  </li>
  </ul>
  </li>


<li class="nav-item">
<a href="contact.html" class="nav-link">Contact</a>
</li>

</ul>
<div class="others-options">
  <ul>
  <li>
  <a href="#" class="default-btn">
  Login
  </a>
  </li>
  </ul>
  </div>
</div>

</nav>

</div>

</div>
</div>

</header>