<!doctype html>
<html lang="zxx">

<head>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, iManav Rachna ial-scale=1, shrink-to-fit=no">
<style>
  #jarallax-container-0 div{
    background-image: url("{{url_for('static',filename='images/6.jpg") !important;
  }
  .container{
    max-width:1400px !important;
  }
</style>

<title>Manav Rachna   Alumni Cell</title>
<script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://kit.fontawesome.com/99fe66f91e.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">

<link rel="stylesheet" href="assets/css/owl.carousel.min.css">

<link rel="stylesheet" href="assets/css/remixicon.css">

<link rel="stylesheet" href="assets/css/flaticon.css">

<link rel="stylesheet" href="assets/css/meanmenu.min.css">

<link rel="stylesheet" href="assets/css/animate.min.css">

<link rel="stylesheet" href="assets/css/odometer.min.css">

<link rel="stylesheet" href="assets/css/magnific-popup.min.css">

<link rel="stylesheet" href="assets/css/date-picker.min.css">

<link rel="stylesheet" href="assets/css/style.css">

<link rel="stylesheet" href="assets/css/responsive.css">

<link rel="icon" type="image/png" href="assets/images/favicon.png">

<link href="url_for('static',filename='css/bootstrap.min.css')" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static',filename='css/owl.theme.default.min.css') }}">

<link rel="stylesheet" href="{{url_for('static',filename='css/owl.carousel.min.css')}}">

<link rel="stylesheet" href="{{url_for('static',filename='css/remixicon.css')}}">

<link rel="stylesheet" href="{{url_for('static',filename='css/flaticon.css')}}">

<link rel="stylesheet" href="{{url_for('static',filename='css/meanmenu.min.css')}}">

<link rel="stylesheet" href="{{url_for('static',filename='css/animate.min.css')}}">

<link rel="stylesheet" href="{{url_for('static',filename='css/odometer.min.css')}}">

<link rel="stylesheet" href="{{url_for('static',filename='css/magnific-popup.min.css')}}">

<link rel="stylesheet" href="{{url_for('static',filename='css/date-picker.min.css')}}">

<link rel="stylesheet" href="{{url_for('static',filename='css/responsive.css')}}">

<link rel="icon" type="image/png" href="{{url_for('static',filename='images/favicon.png"> -->


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.js"></script>
   <!-- Specific Page CSS goes HERE  -->
   {% block stylesheets %}{% endblock stylesheets %}
  <script>
  $(window).on("load",function(){
      $(".loader-wrapper").fadeOut("slow");
  });
  </script>

</head>

<body class="{% block body_class %}{% endblock body_class %}" style="    background-image: linear-gradient(to right,#d63384, #6f42c1);">

    <div id="page">
        {% include 'includes/header.html' %}
        <div class="loader-wrapper">
        <span class="loader" style="left:20px;"><span class="loader-inner"></span></span></div>
        {% block content %}{% endblock content %}
        {% include 'includes/footer.html' %}
    </div>
  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}

</body>
</html>